*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #f8f8f8;
  --foreground: #0d0d0d;
  --accent: #ffae44; /* Digital Purple */
  --accent-secondary: #00d4ff; /* Cyan */
  --font-heading: var(--font-lato), sans-serif;
  --font-body: var(--font-montserrat), sans-serif;
  
  --font-sans: var(--font-heading); /* Fallback/Default aliases */
  
  --spacing-gutter: 2rem;
  --container-width: 1440px;
}

[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

::selection {
  background: var(--accent);
  color: white;
}

/* Utilities */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-gutter);
}
